<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="/css/iziToast.min.css">

    <link rel="preconnect" href="https://www.google.com">
    <link rel="preconnect" href="https://www.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="img/coming/icons/logz.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/coming/util.css">
    <link rel="stylesheet" type="text/css" href="css/coming/main.css">
    <!--===============================================================================================-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<div class="size1 bg0 where1-parent">
    <!-- Coutdown -->
    <div class="flex-c-m bg-img1 size2 where1 overlay1 where2 respon2"
         style="background-image: url('img/coming/bg.png');">
        <div class="wsize2 flex-w flex-c-m cd100 js-tilt">
            <div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">
                <span class="l2-txt1 p-b-9 days">{{countdown}}</span>
                <span class="s2-txt4">Hari</span>
            </div>
        </div>
    </div>
    <!-- Form -->
    <div class="size3 flex-col-sb flex-w p-l-75 p-r-75 p-t-45 p-b-45 respon1">
        <div class="wrap-pic1">
            <a href="/"><img src="img/coming/icons/logz.png" alt="LOGO"></a>
        </div>
        <div class="p-t-50 p-b-60">
            <p class="m1-txt1 p-b-36">
                Hai sobat <span class="m1-txt2">Arsamuda</span>, Website kami sedang dalam proses maintenance.
            </p>
            <p class="m2-txt1 p-b-36">
                Daftarkan email kamu biar gak ketinggalan tanggal siaran Arsamuda ya!
            </p>
            <form method="POST" action="/subscribe" class="contact100-form validate-form ">
                <div class="wrap-input100 m-b-20 validate-input" data-validate="Email is required: ex@abc.xyz">
                    <input class="s2-txt1 placeholder0 input100" type="text" name="email" placeholder="Alamat Email">
                    <span class="focus-input100"></span>
                </div>
                <div class="g-recaptcha" data-sitekey="6LdN-qkeAAAAAN7BgqIbCshSTZMX7kjbY2eRExQh"></div>
                <div class="w-full">
                    <button class="flex-c-m s2-txt2 size4 bg4 bor1 hov1 trans-04">
                        IKUTI!
                    </button>
                </div>
            </form>
        </div>
        <div class="flex-w">
            <a href="https://www.instagram.com/arsamuda104.1/" class="flex-c-m size5 bg3 how1 trans-04 m-r-5">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
</div>
<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.6.0.min.js"></script>
<script src="vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="js/coming/main.js"></script>
<script src="/js/iziToast.min.js" type="text/javascript"></script>
{{#if flash}}
    <script>
        window.onload = () => {
            iziToast.{{flash}}({
                title: "{{flash_title}}",
                message: "{{flash_message}}"
            });
        }
    </script>
{{/if}}
</body>
</html>