<html lang="en">
<head>
    {{>header}}
</head>
<body>
<form method="POST" action="/subscribe">
    <label for="subscribe"> Masukan Email Untuk Berlanganan</label>
    <input type="text" placeholder="Email" name="email">
    <button type="submit"> Berlanganan</button>
</form>

</body>
</html>